/* header */
.heading {
  color: #fff;
  /* font-size: 3rem; */
  text-align: center;
  margin: 2rem 0;
}

/* chess board */

.main-container {
  border: 5px solid #fff;

  margin: 2rem 5rem 5rem 5rem;
  padding: 5rem;
}

.chess-box-container {
  display: flex;
  justify-content: center;
}
.chess-box {
  height: 10rem;
  width: 10rem;

  min-height: 10rem;
  min-width: 10rem;
}

.bg-black {
  background-color: #000;
}
.bg-white {
  background-color: #fff;
}

/* no chess board */

.no-chess-board {
  text-align: center;
  font-size: 2rem;
  color: #ff0000;
}

/* input box*/

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;

  margin: 0 0 4rem 0;
}
.input-container .input {
  width: 30rem;
  height: 100%;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
}
.input-container .btn {
  width: 5rem;
  height: 100%;
  cursor: pointer;
}

input:focus,
input:focus-visible {
  outline: none;
}

/* utility css */

.flex {
  display: flex;
}
.align-item-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.overflow-auto {
  overflow: auto;
}
